In [0]:
list = [("Banana",1000,"USA"),("Carrots",1500,"USA"),("Beans",1600,"USA"),("Orange",2000,"USA"),("Orange",2000,"USA"),
        ("Banana",400,"China"),("Carrots",1200,"China"),("Beans",1500,"China"),("Orange",4000,"China"),("Banana",2000,"Canada"),
       ("Carrots",2000,"Canada"),("Beans",2000,"Mexico")]

df = spark.createDataFrame(list,schema=('Fruits','Price','Country'))
df.show()

+-------+-----+-------+
| Fruits|Price|Country|
+-------+-----+-------+
| Banana| 1000|    USA|
|Carrots| 1500|    USA|
|  Beans| 1600|    USA|
| Orange| 2000|    USA|
| Orange| 2000|    USA|
| Banana|  400|  China|
|Carrots| 1200|  China|
|  Beans| 1500|  China|
| Orange| 4000|  China|
| Banana| 2000| Canada|
|Carrots| 2000| Canada|
|  Beans| 2000| Mexico|
+-------+-----+-------+

In [0]:
df1 = df.groupBy('Fruits').sum('Price')
df1.show()

+-------+----------+
| Fruits|sum(Price)|
+-------+----------+
| Banana|      3400|
|  Beans|      5100|
|Carrots|      4700|
| Orange|      8000|
+-------+----------+

In [0]:
df1 = df.groupBy('Fruits').pivot('Fruits').sum('Price')
df1.show()

+-------+------+-----+-------+------+
| Fruits|Banana|Beans|Carrots|Orange|
+-------+------+-----+-------+------+
| Banana|  3400| null|   null|  null|
|  Beans|  null| 5100|   null|  null|
|Carrots|  null| null|   4700|  null|
| Orange|  null| null|   null|  8000|
+-------+------+-----+-------+------+

In [0]:
df2 = df.groupBy('Fruits','Country').sum('Price')
df2.show()

+-------+-------+----------+
| Fruits|Country|sum(Price)|
+-------+-------+----------+
| Banana|    USA|      1000|
|Carrots|    USA|      1500|
|  Beans|    USA|      1600|
| Orange|    USA|      4000|
| Banana|  China|       400|
|Carrots|  China|      1200|
| Orange|  China|      4000|
|  Beans|  China|      1500|
| Banana| Canada|      2000|
|Carrots| Canada|      2000|
|  Beans| Mexico|      2000|
+-------+-------+----------+

In [0]:
df2 = df.groupBy('Fruits').pivot('Country').sum('Price')
df2.show()

+-------+------+-----+------+----+
| Fruits|Canada|China|Mexico| USA|
+-------+------+-----+------+----+
| Orange|  null| 4000|  null|4000|
|  Beans|  null| 1500|  2000|1600|
| Banana|  2000|  400|  null|1000|
|Carrots|  2000| 1200|  null|1500|
+-------+------+-----+------+----+

In [0]:
# In pyspark , we have stack function to unpivot the data